
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@400;700&display=swap');


#todos li {
    font-size: 1.5em;
    font-family: 'Poppins';
}

#todos li:hover {
    text-decoration: line-through;
    cursor: pointer;
}


#activity {
    font-size: 1.5em;
    padding: 1rem;
    width: 45rem;
}

h1 {
    font-family: 'Montserrat';
    font-weight: bold;
}

footer {
    position: absolute;
    bottom:15px;
    left:2px;
    right:2px;
    text-align:center;
    color:#999;
    font-family: 'Poppins';
    font-size: 1.1rem;
  }


footer a {
    color: #fd1718;
    text-decoration: none;
}
  
footer a:hover {
    text-decoration: underline;
}
  
footer span {
    color:#444;
}